/* 
    Document   : screen
    Created on : 15-Feb-2013, 10:09:54
    Author     : chris
    Description:
        Purpose of the stylesheet follows.
*/

/** General **/
div.view {
    width: 222px;
    float:left;
    background: #F7F7F7;
    margin-right: 20px;
    min-height: 200px;
    position: relative;
    border: 1px solid #F3D5BD;
}
div.view h2 {
    margin: 0px;
}
div.view p {
    margin-bottom: 5px;
    font-size: 10px;
}
a {
    color: #628B61;
}
/** form elements **/
div.row label {
    text-align: left;
    float:left;
    padding-right: 30px;
    min-width: 70px;
    line-height: 30px;
}
 div.row input {
	test-align: left;
    min-width: 70px;
    line-height: 30px;
}
 div.row textarea {
 width: auto;
 }
div.form div.saved {
    background: #E6EFC2;
    border: 1px solid #628B61;
    padding: 20px;
}
div.form div.failure {
    background: #FEE;
    border: 1px solid  #C00;
    padding: 20px;
}

/** buttons and widgets **/
.button {
    background: white url(/css/bg.gif) repeat-x left top;
    color: #FFF;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 4px;
}
.button:hover {
    color: #FFF;
    text-shadow: 1px 1px 1px #265774;
}
.textIcon {
    padding: 0px 4px;
    font-size: 10px;
    border: 1px solid #CECECE;
    display: block;
    float: left;
    margin-top: 5px;
    text-decoration: none
}

/** Photo _view **/
.imgWrap {
    width: 100%;
    margin:0 auto;
    text-align: center;
    min-height: 175px;
}
.caption {
    display: none;
    width: 100%;
    margin: 0 ;
    height: 40px;
    position: absolute;
    bottom: 35px;
    left: 0px;
    background: url(../images/bg.png);
    text-align: center;
}
.list-view .pager {
    clear:both;
}
/**CB-5.5**/
.imgComment {
    text-align: center;
    padding-top: 2px;
    font-size: 10px;
}
/** Photo view **/

div.photo {
    width: 100%;
    position: relative;
    background: #F7F7F7;
    }
div.photo .caption {
    width: 100%;
    margin: 0 auto;
    display: inherit ;
    top: 0px;
    padding-top: 15px;
    font-size: 20px;
}
#comments {
    margin: 0 auto;
    margin-top: 20px;
    width: 85%;
    border: 1px solid #C9E0ED;
    padding: 20px;
}
.fullscreen {
    width: 16px;
    height: 16px;
    background: url(../images/icons.png) no-repeat no-repeat;
    background-position: 0px -16px;
    display: block;
    margin: 4px;
    float: left;
}
.fullscreen:Hover {
    background-position: -16px -16px;
}

/** comment view **/
div.comment {
    width: 85%;
    float: none;
    font-size: 100%;
    font-style: italic;
    background: #F7F7F7;
    margin: 20px 10px;
    padding: 10px;
    min-height: 75px;
    border: 1px solid #CECECE;
}
div.commentContent {
    min-height: 45px;
}
div.commentFooter {
    margin-top: 10px;
    border-bottom: 1px solid #EFFDFF;
    font-size: 10px;
}
.By {
    font-wight: bold;
    margin-right: 10px;
    font-size: 10px;
}
.Date {
    color: #CECECE;
}

div.block {
    float:left;
    margin-right: 20px;
}

div.search{margin-top: -48px;}
div.search input[type="text"]{font-size: 10px; height: 14px; width: 100px;}
div.search input[type="submit"] { margin-right: 10px;}

